---
layout: default
title: Teeth Health
permalink: index.html
---

<div class="main-content__body">
  <div class="container">
    <div class="main-content__body-home">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
            <div class="row home-reserve">
                <!-- HOME SIDEBAR START -->
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="body-home__sidebar">
                    <!-- ACCORDION SIDEBAR START -->
                    <div class="accordion-categories" id="home-accordion-categories">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                          >
                            <i class="far fa-bars"></i>
                            Danh mục sản phẩm
                          </button>
                        </h2>
                        <div
                          id="collapseOne"
                          class="accordion-collapse collapse show"
                          aria-labelledby="headingOne"
                          data-bs-parent="#home-accordion-categories"
                        >
                          <div class="accordion-body">
                            <ul>
                              {% for item in site.data.home-categories %}
                              <li>
                                <a href="categories.html"> {{item.name}} </a>
                              </li>
                              {% endfor %}
                              <li>
                                <a href="#">
                                  <span> Tất cả </span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ACCORDION SIDEBAR END -->
        
                    <!-- SERVICES LIST START -->
                    <div class="body-home__services">
                      {% for item in site.data.home-services-list %}
                      <div class="home__services-item">
                        <!-- IMG -->
                        <div class="services-item__img">
                          <img src="{{item.icon_path}}" alt="home-services-img" />
                        </div>
                        <!-- CONTENT -->
                        <div class="services-item__content">
                          <div class="services-item__title">
                            <h3>{{item.title}}</h3>
                          </div>
                          <div class="services-item__desc">
                            <h4>{{item.desc}}</h4>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- SERVICES LIST END -->
        
                    <!-- NEWS START -->
                    <div class="body-home__news">
                      <div class="home__news-title">
                        <h2>Tin tức mới nhất</h2>
                        <div class="home__news-control">
                          <button id="prev-btn">
                            <i class="fas fa-caret-left"></i>
                          </button>
                          <button class="button--next" id="next-btn">
                            <i class="fas fa-caret-right"></i>
                          </button>
                        </div>
                      </div>
                      <div class="home__news-slide">
                        {% for item in site.data.home-news-list %}
                        <div class="home__news-container">
                            <div class="home__news-item">
                              <div class="home__news-item__img">
                                <img src="{{item.img_path}}" alt="home-news-item-img" />
                              </div>
                              <div class="home__news-item__title">
                                <h2>
                                  <a href="{{item.link}}"> {{item.title}} </a>
                                </h2>
                              </div>
                              <div class="home__news-item__desc">
                                <p>{{item.desc}}</p>
                              </div>
                              <div class="home__new-item__read">
                                <a href="{{item.link}}">Đọc tiếp</a>
                                <i class="far fa-chevron-double-right"></i>
                              </div>
                            </div>
                            <div class="home__news-item">
                              <div class="home__news-item__img">
                                <img src="{{item.img_path}}" alt="home-news-item-img" />
                              </div>
                              <div class="home__news-item__title">
                                <h2>
                                  <a href="{{item.link}}"> {{item.title}} </a>
                                </h2>
                              </div>
                              <div class="home__news-item__desc">
                                <p>{{item.desc}}</p>
                              </div>
                              <div class="home__new-item__read">
                                <a href="{{item.link}}">Đọc tiếp</a>
                                <i class="far fa-chevron-double-right"></i>
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <!-- NEWS END -->
        
                    <!-- FEEDBACK START -->
                    <div class="body-home__news body-home__feedback">
                      <div class="home__news-title">
                        <h2>Phản hồi khách hàng</h2>
                        <div class="home__news-control">
                          <button id="feedback-prev">
                            <i class="fas fa-caret-left"></i>
                          </button>
                          <button class="button--next" id="feedback-next">
                            <i class="fas fa-caret-right"></i>
                          </button>
                        </div>
                      </div>
                      <div class="home__feedback-slide">
                        {% for item in site.data.home-feedback-list %}
                        <div class="home__feedback-item">
                          <div class="home__feedback-item__img">
                            <img src="{{item.img_path}}" alt="home-feedback-item-img" />
                          </div>
                          <div class="home__feedback-item__title">
                            <h2>
                              <a href="{{item.link}}"> {{item.name}} </a>
                            </h2>
                          </div>
                          <div class="home__feedback-item__job">
                            <p>
                              {{item.job}} </a>
                            </p>
                          </div>
                          <div class="home__feedback-item__desc">
                            <p>{{item.comment}}</p>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <!-- FEEDBACK END -->
                  </div>
                </div>
                <!-- HOME SIDEBAR END -->
        
                <!-- HOME CONTENT START -->
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="body-home__content">
                        
                        <!-- BANNER SLIDER START -->
                        <div class="home__content-slide">
                            <div class="content-slide__wraps">
                                {% for item in site.data.home-slide %}
                                <div class="content-slide__item">
                                    <div class="content-slide__inner" style="background: url({{item.img_path}});">
                                        <div class="content-slide__inner-overlay"></div>   
                                        <div class="slide__inner-text">
                                            <div class="description">
                                                {{item.description}}
                                            </div>
                                            <div class="title">
                                                {{item.title}}
                                            </div>
                                            <div class="button">
                                                <button class="btn btn-fgc btn-fgc--primary">
                                                    {{item.button}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="slide__inner-btn">
                                <button class="banner-slide__button" id="banner-slide-prev">
                                    <i class="fas fa-caret-left"></i>
                                </button>
                                <button class="banner-slide__button button--next" id="banner-slide-next">
                                    <i class="fas fa-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <!-- BANNER SLIDER END -->
        
                        <!-- PRODUCTS SLIDER START -->
                        <div class="product-slide__container">
                            <div class="title">
                                <h2>
                                    Dụng cụ nha khoa
                                </h2>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for item in site.data.home-tab limit: 4 %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {{item.status}}" id="{{item.id}}" data-bs-toggle="tab" data-bs-target="#{{item.data-target}}" type="button" role="tab" aria-controls="{{item.aria-control}}" aria-selected="{{item.aria-selected}}">{{item.text}}</button>
                                    </li>
                                {% endfor %}
                                
                                <div class="product-slide__control">
                                    <button id="slide-control-prev_1" class="slide__control-btn slide-control-prev_1">
                                        <i class="fas fa-caret-left"></i>
                                    </button>
                                    <button id="slide-control-next_1" class="slide__control-btn slide-control-next_1">
                                        <i class="fas fa-caret-right"></i>
                                    </button>
                                </div>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {% for item in site.data.home-tab limit: 4 %}
                                    <div class="tab-pane fade {{item.show}} {{item.status}}" 
                                    id="{{item.data-target}}" role="tabpanel" 
                                    aria-labelledby="{{item.id}}">
                                        <div id="" 
                                        class="product-slide__content product-slide__content--{{item.data-target}}">
                                            {% for item in site.data.home-product-slide limit: 6 %}
                                                <!-- SLIDE ITEM START -->
                                                <div class="product-slide__wraps">
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                </div>
                                                <!-- SLIDE ITEM END -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- PRODUCT SLIDER END -->
        
                        <!-- BANDROLl START-->
                        <div class="bandroll-container" style="background: url(assets/images/background/bandroll.jpg);">
                            <div class="bandroll-inner">
                                <div class="bandroll-wraps">
                                    <h3>
                                        Dẫn đầu công nghệ
                                    </h3>
                                    <h1>
                                        Nha Khoa
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <!-- BANDROLL END -->
        
                        <!-- PRODUCTS SLIDER START -->
                        <div class="product-slide__container">
                            <div class="title">
                                <h2>
                                    Thiết bị nha khoa
                                </h2>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for item in site.data.home-tab offset: 4 %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {{item.status}}" id="{{item.id}}" data-bs-toggle="tab" data-bs-target="#{{item.data-target}}" type="button" role="tab" aria-controls="{{item.aria-control}}" aria-selected="{{item.aria-selected}}">{{item.text}}</button>
                                    </li>
                                {% endfor %}
                                
                                <div class="product-slide__control">
                                    <button class="slide__control-btn slide-control-prev_2">
                                        <i class="fas fa-caret-left"></i>
                                    </button>
                                    <button  class="slide__control-btn slide-control-next_2">
                                        <i class="fas fa-caret-right"></i>
                                    </button>
                                </div>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                   {% for item in site.data.home-tab offset: 4 %}
                                    <div class="tab-pane fade {{item.show}} {{item.status}}" id="{{item.data-target}}" role="tabpanel" aria-labelledby="{{item.id}}">
                                        <div  class="product-slide__content product-slide__content--{{item.data-target}}">
                                            {% for item in site.data.home-product-slide offset: 6 %}
                                                <!-- SLIDE ITEM START -->
                                                <div class="product-slide__wraps">
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                </div>
                                                <!-- SLIDE ITEM END -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- PRODUCT SLIDER END -->
        
                        <!-- BANDROLl START-->
                        <div class="bandroll-container" >
                            <div class="row">
                                {% for item in site.data.home-bandroll-item %}
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="bandroll-item {{item.wraps-class}} " style="background: url({{item.img_path}});">
                                       <div class="bandroll-item__inner {{item.item-class}}">
                                            <div class="bandroll-item__inner-text">
                                                <h3>
                                                    {{item.desc}}
                                                </h3>
                                                <h2>
                                                    {{item.title}}
                                                </h2>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- BANDROLL END -->
        
                        <!-- PRODUCTS SLIDER START -->
                        <div class="product-slide__container">
                            <div class="title">
                                <h2>
                                    Vật liệu nha khoa
                                </h2>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for item in site.data.home-tab offset: 4 %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {{item.status}}" id="{{item.id}}" data-bs-toggle="tab" data-bs-target="#{{item.data-target}}3" type="button" role="tab" aria-controls="{{item.aria-control}}" aria-selected="{{item.aria-selected}}">{{item.text}}</button>
                                    </li>
                                {% endfor %}
                                
                                <div class="product-slide__control">
                                    <button id="slide-control-prev_3" class="slide__control-btn">
                                        <i class="fas fa-caret-left"></i>
                                    </button>
                                    <button id="slide-control-next_3" class="slide__control-btn">
                                        <i class="fas fa-caret-right"></i>
                                    </button>
                                </div>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                   {% for item in site.data.home-tab offset: 4 %}
                                    <div class="tab-pane fade {{item.show}} {{item.status}}" id="{{item.data-target}}3" role="tabpanel" aria-labelledby="{{item.id}}">
                                        <div class="product-slide__content product-slide__content--{{item.data-target}}">
                                            {% for item in site.data.home-product-slide offset: 6 %}
                                                <!-- SLIDE ITEM START -->
                                                <div class="product-slide__wraps">
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                    
                                                    <!--PRODUCT ITEM START -->
                                                    <div class="product-slide__item">
                                                        <div class="product-slide__item-inner">
                                                            <div class="product-slide__item-img">
                                                                <img src="{{item.img_path}}" alt=product-slide-img> 
                                                            </div>
                                                            <ul class="product-slide__item-rate"> 
                                                                <li>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="product-slide__item-name">
                                                                <h2>
                                                                    <a href="product-details.html">
                                                                        {{item.name}}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="product-slide__item-price">
                                                                <h3>
                                                                    {{item.price}}vnd
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- PRODUCT ITEM END -->
                                                </div>
                                                <!-- SLIDE ITEM END -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- PRODUCT SLIDER END -->
        
                    </div>
                </div>
                <!-- HOME CONTENT END -->
            </div>
        </div>

        <!-- RIGHT SIDEBAR START -->
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
            <div class="body-home__right-sidebar">
                <!-- BANNER START -->
                <div class="right-sidebar__banner" style="background: url(assets/images/right-sidebar/background.jpg);">
                    <img src="assets/images/right-sidebar/piece.png" alt="img" >
                    <div class="right-sidebar__banner-text">
                        <h2>
                            Ưu đãi lớn nhất trong dịp kỷ niệm thành lập công ty
                        </h2>
                        <h3>
                            08/01/2018 - 18/02/2018
                        </h3>
                    </div>
                </div>
                <!-- BANNER END -->

                <!-- BEST SELLER START -->
                <div class="right-sidebar__best-seller">
                    <div class="title">
                        <h2>
                            Sản phẩm bán chạy nhất
                        </h2>
                    </div>
                    <div class="best-seller__content">
                        {% for item in site.data.home-right-sidebar %}
                        <div class="best-seller__item">
                            <div class="best-seller__item-img">
                                <img src="{{item.img_path}}" alt='#'>
                            </div>
                            <div class="best-seller__item-content">
                                <ul class="rate">
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                                <div class="name">
                                    <h2>
                                        {{item.name}}
                                    </h2>
                                </div>
                                <div class="price">
                                    <h3>
                                        {{item.price}}vnd
                                    </h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- BEST SELLER END -->

                <!-- LIST PARTNER START -->
                <div class="right-siderbar__partner">
                    <div class="title">
                        <h2>
                            Đối tác của chúng tôi
                        </h2>
                    </div>
                    <div class="list-partner">
                        <div class="row">
                            {% for item in site.data.home-partner %}
                            <div class="col-sm-6 col-md-4 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="list-partner__item">
                                    <div class="list-partner__item-img">
                                        <img src="{{item.img_path}}" alt="partner-logo">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- LIST PARTNER END -->
            </div>
        </div>
        <!-- RIGHT SIDEBAR END -->
      </div>
    </div>
  </div>
</div>
