<meta charset="UTF-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Fgc
    {{ page.title }}</title>
<!-- BOOTSTRAP -->
<link href="assets/bootstrap/css/bootstrap.min.css " rel="stylesheet" type="text/css"/>
<!-- SLICK -->
<link href="assets/slick/slick/slick.css" rel="stylesheet" type="text/css"/>
<!-- fANCY -->
<link href="assets/fancybox-master/dist/jquery.fancybox.min.css" rel="stylesheet" type="text/css"/>
<!-- ION RANGER -->
<link href="assets/ion-ranger/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>
<!-- FONT AWESOME -->
<link href="assets/font-awesome/css/all.min.css" rel="stylesheet" type="text/css"/>
<!-- FONT FAMILIES -->
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
<!-- CSS LOCAL FILE -->
<link href="assets/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
