$primary-color: #2c88d3;
$text-description-color: #999999;
$text-color: #424242;
$border-color: #7a7a7a;
$border-straight-color: #eee;
$border-radius : 5px;
$link-color: #2c88d3;
$white-color: #fff;
$facebook-color: #365493;
$twitter-color: #55acee;
$google-color: #cd201f;
$instagram-color: #e4405f;
$transition-time: .3s;
$black-color: #000;
$star-color: #ff9600;

.no-padding {
    padding: 0;
}

html {

    line-height: 1.15;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

.btn-fgc {
    font-family: 'Roboto', sans-serif;
    border-radius: $border-radius;
}

.btn-fgc--primary {
    padding: 14px 35px;
    color: $white-color;
    text-transform: uppercase;
    background: $primary-color;
    font-size: 1.6rem;
    font-weight: 500;
}

.button--next {
    background: $white-color !important;
    color: $primary-color !important;
}

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;

@mixin sm {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$large}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$extra-large}) {
        @content;
    }
}

@mixin xxl {
    @media (max-width: #{$extra-extra-large}) {
        @content;
    }
}


@import "header/header.scss";
@import "body/body.sass";
@import 'footer/footer.scss';