footer {
    width: 100%;
    height: auto;

    .footer-wraps {
        width: 100%;
        height: auto;

        .footer-wraps__nav {
            height: 200px;
            width: 100%;
            background-color: $primary-color;
            padding: 50px 46px;

            @include lg {
                padding: 20px;
            }

            @include lg {
                height: auto;
            }

            form {
                .form-group {
                    width: 100%;

                    @include lg {
                        padding-top: 15px;
                    }

                    label {
                        width: 100%;
                        font-size: 2.8rem;
                        font-family: "oswald", sans-serif;
                        font-weight: 600;
                        line-height: 2.4rem;
                        margin-bottom: 14px;
                        color: $white-color;
                        text-transform: uppercase;

                        @include lg {
                            text-align: center;
                            font-size: 1.8rem;
                            line-height: 2rem;
                        }
                    }

                    .form-input {
                        display: flex;
                        width: 100%;
                        align-items: center;

                        @include lg {
                            justify-content: center;
                        }

                        button {
                            background-color: #105e9e;

                            @include xxl {
                                font-size: 1.4rem;
                                // padding: 14px 20px;\
                            }

                            @include sm {
                                padding: 14px 15px;
                            }
                        }

                        input {
                            font-family: 'Roboto', sans-serif;
                            padding: 14px 35px;
                            font-size: 1.6rem;
                            font-weight: 500;
                            width: 459px;
                            max-height: 50px;
                            border: none;
                            outline: none;
                            margin: 0 10px 0 0;

                            @include xxl {
                                flex: 1;
                                font-size: 1.4rem;
                            }

                            @include sm {
                                width: 200px;
                            }
                        }
                    }
                }
            }

            .footer-subscribe {
                height: 100%;
                display: flex;
                align-items: center;

                @include lg {
                    justify-content: center;
                }

                .title {
                    margin: 0 37px 0 0;

                    @include lg {
                        margin: 0;
                    }

                    h2 {
                        font-family: 'Oswald', sans-serif;
                        font-size: 2.8rem;
                        font-weight: 600;
                        line-height: 2.4rem;
                        color: $white-color;
                        text-transform: uppercase;
                        margin: 0;

                        @include lg {
                            font-size: 1.8rem;
                            line-height: 2rem;
                        }
                    }
                }

                .list-subscribe {
                    ul {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        margin: 0;

                        .list-subscribe__item {
                            &--facebook {
                                a {
                                    background-color: $facebook-color;
                                }
                            }

                            &--twitter {
                                a {
                                    background-color: $twitter-color;
                                }
                            }

                            &--google {
                                a {
                                    background-color: $google-color;
                                }
                            }

                            &--instagram {
                                a {
                                    background-color: $instagram-color;
                                }
                            }

                            a {
                                text-decoration: none;
                                width: 49px;
                                height: 49px;
                                border-radius: 50%;
                                display: flex;
                                margin: 0 5px;

                                @include lg {
                                    width: 30px;
                                    height: 30px;

                                    i {
                                        font-size: 1rem;
                                        // line-height: 3rem;
                                    }
                                }

                                i {
                                    font-size: 1.4rem;
                                    // line-height: 4.9rem;
                                    color: $white-color;
                                    margin: auto;

                                }
                            }
                        }
                    }
                }
            }
        }

        .footer-content {
            width: 100%;
            background: $white-color;
            padding: 70px 0 135px 0;

            @include lg {
                padding: 20px 0;
            }

            .footer-content__item {
                text-align: left;
                width: 100%;
                height: auto;

                &--categories {
                    margin-left: 82px;

                    @include lg {
                        margin-left: 0;
                    }
                }

                .logo {
                    margin-bottom: 36px;
                }

                .footer-content__infor {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    p {
                        font-family: 'Robot', sans-serif;
                        font-size: 1.5rem;
                        color: $text-description-color;
                        font-weight: 400;

                        span {
                            font-weight: 600;
                        }

                        a {
                            text-decoration: none;
                            color: $primary-color;
                            font-weight: 600;
                        }
                    }
                }

                .title {
                    margin: 53px 0 34px;

                    @include lg {
                        margin: 0
                    }

                    h2 {
                        font-family: 'Oswald', sans-serif;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        font-weight: 600;
                        color: $text-color;
                        margin: 0;
                    }
                }

                .footer-content__categories {
                    width: 203px;
                    height: 186px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    a {
                        text-decoration: none;
                        font-family: 'Roboto', sans-serif;
                        width: 100%;
                        display: block;
                        color: $text-description-color;
                        margin: 0 96px 0 0;
                        font-size: 1.6rem;
                        margin-bottom: 5px;
                        transition: $transition-time;

                        @include xl {
                            margin: 0 10px 0 0;

                        }

                        &:hover {
                            transform: translateX(-5px);
                            color: $primary-color;
                            font-weight: 500;
                        }

                    }
                }
            }
        }

        .footer-auth {
            width: 100%;
            padding: 24px 0;
            background: $primary-color;

            @include md {
                padding: 10px 0;
            }

            .footer-auth__text {
                font-family: 'Oswald', sans-serif;
                font-size: 1.4rem;
                line-height: 2.8rem;
                text-transform: uppercase;
                color: $white-color;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;


                @include lg {
                    font-size: 1.2rem;
                }

                @include md {
                    justify-content: center;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .footer-auth__icon {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                width: 100%;
            }

            @include md {
                justify-content: center;
            }
        }
    }
}