.header__full-width {

    .header__full-width__navbar {
        height: 50px;

        @include md {
            height: auto;
        }

        .container {
            height: 100%;

            .navbar__wraps {
                height: auto;
                border-bottom: 1px solid $border-straight-color;

                @include lg {
                    padding-bottom: 10px;
                }

                .row {
                    height: 100%;

                    .navbar__wraps-description {
                        height: 100%;
                        width: 100%;
                        text-align: left;
                        font-family: 'Roboto', sans-serif;
                        display: flex;
                        align-items: center;

                        @include lg {
                            justify-content: center;
                        }

                        @include sm {
                            display: none;
                        }

                        p {
                            width: auto;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            margin: 0;
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                            color: $text-description-color;

                            @include xl {
                                font-size: 1.3rem;
                            }


                            a {
                                text-decoration: none;
                                color: $link-color;
                            }
                        }
                    }

                    .navbar__wraps-socials {
                        width: 100%;
                        height: 100%;

                        @include md {
                            display: flex;
                            justify-content: space-between;
                        }

                        .navbar__wraps-logo {
                            display: none;

                            @include md {
                                display: block;

                                img {
                                    width: 140px;
                                    height: auto;
                                }
                            }
                        }

                        ul {
                            list-style: none;
                            display: flex;
                            height: 100%;
                            align-items: center;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            justify-content: flex-end;

                            @include lg {
                                width: 100%;
                                justify-content: center;
                            }

                            @include md {
                                justify-content: flex-end;
                            }

                            li {
                                width: 30px;
                                height: 30px;
                                margin: 0 6px;

                                .socials__item-link {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    border: 1px solid $border-color;
                                    display: flex;
                                    text-decoration: none;
                                    color: $text-description-color;
                                    transition: $transition-time;

                                    &--facebook:hover {
                                        border-color: transparent;
                                        background-color: $facebook-color;
                                        color: $white-color;
                                    }

                                    &--google:hover {
                                        border-color: transparent;
                                        background-color: $google-color;
                                        color: $white-color;

                                    }

                                    &--twitter:hover {
                                        border-color: transparent;
                                        background-color: $twitter-color;
                                        color: $white-color;
                                    }

                                    &--instagram:hover {
                                        border-color: transparent;
                                        background-color: $instagram-color;
                                        color: $white-color;
                                    }


                                    & i {
                                        margin: auto;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }
    }

    .header__full-width__logo {
        width: auto;

        .header__full-width__logo-inner {
            padding: 22px 0;

            .navbar__logo-container {
                @include md {
                    display: none;
                }

                .navbar__logo {
                    width: 100%;
                    height: 100%;
                    display: flex;


                    img {
                        margin: auto;

                        @include xl {
                            width: 100%;
                            height: auto;
                        }

                        width: 286px;
                        height: 80px;
                    }
                }
            }

            .navbar__categories {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @include sm {
                    justify-content: center;
                    margin-bottom: 20px;
                }

                .navbar__categories-collapse {
                    width: 282px;
                    height: 56px;
                    border: none;
                    background-color: $border-straight-color;
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 3.6rem;
                    border-radius: $border-radius;
                    color: $text-color;
                    padding: 0 20px;
                    transition: $transition-time;

                    @include sm {
                        width: 100%;
                    }

                    option {
                        line-height: 3.6rem;
                        font-size: inherit;
                        display: flex;
                        transition: $transition-time;
                        margin: 5px 0;
                        padding: 5px 10px;
                        width: 100%;
                        border-radius: $border-radius;
                        background-color: $white-color;

                        &:hover {
                            transform: translateX(-5px);
                            background: $primary-color;

                            a {
                                color: $white-color;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .accordion {

                    .accordion-item {
                        width: 100%;
                        height: 100%;
                        border: none;
                        // font-size: 1.4rem;
                        color: $text-color;

                        .accordion-header {
                            border-radius: $border-radius;
                            width: inherit;
                            overflow: hidden;
                            height: inherit;

                            .accordion-button {
                                background-color: $border-straight-color;
                                width: inherit;
                                height: inherit;
                                outline: none;
                                color: inherit;
                                font-size: 1.4rem;
                                font-weight: 700;
                                line-height: 3.6rem;


                                &:not(.collapsed) {
                                    box-shadow: unset;
                                }

                            }
                        }

                        .accordion-collapse {

                            .accordion-body {
                                font-size: 1.4rem;
                                box-shadow: 0px 0px 7px -1px $primary-color;
                                border-radius: $border-radius;
                                background: $white-color;
                                z-index: 1;

                                ul {
                                    z-index: 2;
                                    background: $white-color;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    box-sizing: border-box;
                                    width: 100%;
                                    position: relative;

                                    li {
                                        line-height: 3.6rem;
                                        font-size: inherit;
                                        display: flex;
                                        transition: $transition-time;
                                        margin: 5px 0;
                                        padding: 5px 10px;
                                        width: 100%;
                                        border-radius: $border-radius;
                                        background-color: $white-color;

                                        &:hover {
                                            transform: translateX(-5px);
                                            background: $primary-color;

                                            a {
                                                color: $white-color;
                                                font-weight: 600;
                                            }
                                        }

                                        a {
                                            color: $text-color;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }




            }

            .navbar__search-box {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @include sm {
                    justify-content: center;
                }

                form {
                    width: 474px;
                    height: 56px;

                    @include sm {
                        width: 100%;
                    }

                    .form-group {
                        width: 100%;
                        height: 100%;
                        // border: 1px solid $border-color;
                        background: $border-straight-color;
                        border-radius: $border-radius;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;

                        input {
                            border: none;
                            outline: none;
                            font-size: 1.4rem;
                            line-height: 3.6rem;
                            flex: 1;
                            background: transparent;
                        }

                        button {
                            background: none;
                            border: none;
                            outline: none;

                            i {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .header__full-width__menu {
        width: 100%;
        height: 60px;
        background: $primary-color;
        position: relative;

        .container {
            width: 100%;
            height: 100%;

            .header__full-width__menu-inner {
                width: 100%;
                height: 100%;
                font-family: 'Roboto', sans-serif;

                .row {
                    width: 100%;
                    height: 100%;

                    &--margin {
                        @include lg {
                            margin: 0;
                        }
                    }

                    .navbar {
                        background: transparent;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .container-fluid {
                            padding: 0;

                            .navbar-toggler {
                                border: none;
                                outline: none;

                                i {
                                    color: $white-color;
                                    font-size: 3.6rem;
                                }
                            }

                            .navbar-collapse {

                                z-index: 1;

                                @include lg {
                                    background-color: $white-color;
                                    color: $text-color;
                                    box-shadow: 0px 0px 7px -1px $primary-color;
                                    border-radius: $border-radius;

                                    .navbar-nav {
                                        .nav-item {
                                            margin: 5px;

                                            &.dropdown {
                                                height: 36px;
                                            }

                                            .dropdown-menu {
                                                max-width: 100%;
                                            }

                                            .nav-link {
                                                color: $text-color;

                                                &.active {
                                                    background-color: $primary-color;
                                                    color: $white-color;
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .navbar-nav {
                                // z-index: 1;
                                box-shadow: 0px 0px 7px -1px $primary-color;

                                .nav-item {
                                    // width: 106px;
                                    // height: 36px;
                                    // overflow: hidden;
                                    margin-right: 5px;

                                    .nav-link {
                                        border-radius: $border-radius;
                                        padding: 6px 16px;
                                        font-size: 1.6rem;
                                        line-height: 2.4rem;
                                        width: 100%;
                                        height: 100%;
                                        color: $white-color;
                                        text-transform: uppercase;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-weight: 400;

                                        @include xl {
                                            font-size: 1.3rem;
                                        }

                                        &.active {
                                            background-color: $white-color;
                                            color: $primary-color;
                                        }
                                    }

                                }

                                .dropdown {

                                    // &:hover {

                                    //     .dropdown-menu {
                                    //         transform: scaleY(1);
                                    //         top: 126%;

                                    //         // position: unset;
                                    //     }
                                    // }


                                    .dropdown-menu {
                                        // z-index: 1;
                                        transition: $transition-time !important;
                                        box-shadow: 0px 0px 7px -1px $primary-color;
                                        width: 400%;
                                        min-height: 400px !important;
                                        top: 126%;
                                        display: block;
                                        transform-origin: 0 0;
                                        transform: scaleY(0);

                                        &.show {
                                            transform: scaleY(1);
                                            top: 126%;
                                        }

                                        .dropdown-item {
                                            display: block;
                                            width: 100%;
                                            font-size: 1.4rem;
                                            font-family: 'Roboto', sans-serif;
                                            line-height: 3.6rem;
                                            background-color: $white-color;
                                            transition: $transition-time;
                                            color: $text-color;

                                            &:hover {
                                                background-color: $primary-color;
                                                color: $white-color;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }

                    .navbar-text {
                        @include lg {
                            display: none;
                        }
                    }

                    .menu-inner__text {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $white-color;

                        @include xl {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }


    }
}