.about-content__body {
    width: 100%;
    height: auto;


    .about-content__stories {
        width: 100%;
        height: auto;

        .stories__list-img {
            width: 100%;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;

            .stories__list-img-item {
                width: 100%;
                height: 277px;
                border-radius: $border-radius;
                overflow: hidden;
                border: 1px solid $border-straight-color;
                margin-bottom: 14px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .stories__paragraph {
            width: 100%;
            height: 100%;
            padding: 42px 0;

            .stories__paragraph-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .title {
                    margin-bottom: 23px;

                    h2 {
                        font-family: 'Oswald', sans-serif;
                        font-size: 2.6rem;
                        color: $primary-color;
                        line-height: 2.4rem;
                        font-weight: 700;
                    }
                }

                .content {
                    p {
                        font-size: 1.6rem;
                        color: $text-description-color;
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 38px;
                    }
                }

                .services {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    height: auto;

                    .services-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        img {
                            margin: 0 10px 0 0;
                        }

                        p {
                            margin: 0;
                            font-size: 1.6rem;
                            font-family: 'Roboto', sans-serif;
                            color: $text-description-color;
                        }
                    }
                }
            }
        }

    }

    .about-content__categories {
        width: 100%;
        height: auto;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        color: $text-description-color;
        // margin-bottom: 142px;

        .categories__item {
            margin-bottom: 32px;

            h6 {
                font-family: inherit;
                color: inherit;
                font-size: inherit;
                margin-bottom: 20px;
            }

            p {
                display: flex;
                align-items: center;

                i {
                    margin: 0 10px 0 0;
                }

            }
        }
    }

    .about-content__partner {
        background-color: #f9faff;
        padding: 0 0 43px 0;

        .partner-desc {
            width: 100%;
            height: auto;
            margin-top: 64px;

            .title {
                margin-bottom: 38px;

                h2 {
                    font-family: 'Oswald', sans-serif;
                    font-size: 2.6rem;
                    font-weight: 700;
                    line-height: 2.4rem;
                    color: $primary-color;
                    text-transform: uppercase;
                }
            }

            .content {
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    color: $text-description-color;
                    margin-bottom: 66px;
                }
            }
        }

        .partner-logo {
            width: 100%;
            height: auto;

            img {
                width: inherit;
                height: inherit;
            }
        }
    }

    .about-content__active {
        margin-top: 78px;
        width: 100%;
        height: auto;

        .title {
            margin-bottom: 32px;

            h2 {
                font-family: 'Oswald', sans-serif;
                font-size: 2.6rem;
                font-weight: 700;
                line-height: 2.4rem;
                color: $primary-color;
                text-align: center;
            }
        }

        .active__img {
            width: 100%;
            height: 275px;
            display: flex;
            margin-bottom: 18px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about-content__body-banner {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    margin-bottom: 63px;

    @include xl {
        width: 100%;
        height: 240px;
    }

    .about-banner__text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 4.6rem;
            color: $text-color;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 20px;
        }

        h5 {
            font-family: 'Roboto', sans-serif;
            color: $primary-color;
            font-size: 1.8rem;
            line-height: 3.6rem;
            font-style: italic;
            font-weight: 400;

            a {
                text-decoration: none;
                color: unset;
            }
        }
    }
}