.blog-content__body {
    width: 100%;
    height: auto;
    margin-top: 70px;

    .blog-content__list {
        width: 100%;
        height: auto;
        margin-top: 30px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .blog-content__item {
                display: flex;
                align-items: center;
                height: auto;
                margin: 0 0 37px 0;
                padding: 0;

                .blog-content__item-img {
                    min-width: 270px;
                    margin: 0 30px 0 0;
                    min-height: 201px;

                    // @include md {
                    //     height: 297px;
                    // }

                    img {
                        width: 100%;
                        height: 100%;
                        min-height: 201px;
                    }
                }

                .blog-content__item-body {
                    padding: 16px 30px 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .title {
                        margin-bottom: 21px;

                        h2 {
                            font-family: 'Oswald', sans-serif;
                            font-size: 1.8rem;
                            line-height: 2.6rem;
                            text-transform: uppercase;
                            color: $text-color;
                            font-weight: 700;
                        }
                    }

                    .auth-date {
                        font-style: italic;
                        color: $primary-color;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.4rem;
                        margin-bottom: 22px;

                        a {
                            text-decoration: none;
                            color: unset;
                        }
                    }

                    .description {
                        font-size: 1.6rem;
                        font-family: 'Roboto', sans-serif;
                        color: $text-description-color;
                        line-height: 2.6rem;

                        // @include md {
                        //     font-size: 1.4rem;
                        //     line-height: 1.6rem;
                        // }

                        a {
                            text-decoration: none;
                            transition: $transition-time;

                            &:hover {
                                font-weight: 500;
                                transform: translateX(5px) scale(1.1);
                            }

                        }
                    }
                }
            }
        }
    }

}

.content__pagination {
    margin-bottom: 116px;

    &--categories {
        ul {
            justify-content: center;
        }
    }

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            margin: 0 5px 0 0;
            width: auto;
            height: auto;

            a {
                display: flex;
                min-width: 40px;
                min-height: 40px;
                border-radius: $border-radius;
                background-color: #f9faff;
                color: $text-color;
                border: 1px solid $border-straight-color;
                text-decoration: none;
                transition: $transition-time;

                &.active {
                    background: $primary-color;
                    color: $white-color;
                }

                &:hover {
                    background: $primary-color;
                    color: $white-color;
                }

                span {
                    margin: auto;
                    font-family: 'Oswald', sans-serif;
                    font-size: 1.8rem;
                    font-weight: 600;

                }
            }
        }
    }
}