.categories-content__body {

    .caterogies-reserver {
        @include lg {
            flex-direction: column-reverse;
        }
    }

    .categories__container {
        margin-bottom: 50px;

        .title {
            padding: 0 0 12px 0;
            border-bottom: 3px solid $primary-color;

            h2 {
                font-family: 'Oswald', sans-serif;
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 2.6rem;
                color: $text-color;
            }

        }
    }

    .categories__container-list {
        margin-top: 32px;

        .categories__container-item {
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: 26px 36px;
            margin-bottom: 10px;

            .categories-item__img {
                width: 100%;
                height: auto;
                margin: 0 0 16px 0;

                @include md {
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: 100%;
                    max-width: 211px;
                    height: 216px;
                }
            }

            .categories-item__content {
                width: 100%;
                height: auto;

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    list-style: none;

                    li {
                        margin: 0 2px;

                        i {
                            font-size: 1.3rem;
                            color: $star-color;
                        }
                    }
                }

                .name {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0 0 15px 0;

                    h2 {
                        a {
                            font-size: 2.1rem;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 600;
                            line-height: 4rem;
                            color: $text-color;
                            text-decoration: none;
                        }
                    }

                }

                .price {
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    font-family: 'Oswald', sans-serif;
                    color: $primary-color;
                    font-weight: 600;
                    line-height: 4rem;
                }
            }
        }
    }
}