.product-content__body {
    .product__img {
        margin: 0 0 88px 0;

        .product__img-main {
            width: 100%;
            height: 428px;
            margin-bottom: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .product__img-thumb {
            width: 100%;
            height: auto;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-start;

                li {
                    width: 130px;
                    height: 120px;
                    margin: 0 14px 0 0;
                    transition: $transition-time;

                    &.active {
                        border: 1px solid $primary-color;
                    }

                    &:hover {
                        border: 1px solid $primary-color;
                        cursor: pointer;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .product-description {
        width: 100%;
        height: auto;
        padding: 16px 0;

        .product-description__wraps {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding-bottom: 50px;
            border-bottom: 1px solid $border-straight-color;
            margin: 0 0 25px 0;

            .title {
                margin-bottom: 22px;

                h2 {
                    font-family: 'Oswald', sans-serif;
                    font-family: 600;
                    color: $text-color;
                    text-transform: uppercase;
                }
            }

            .rate {
                margin-bottom: 30px;

                ul {
                    display: flex;
                    list-style: none;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0 5px 0 0;

                        i {
                            font-size: 1.3rem;
                            color: $star-color;

                        }
                    }
                }
            }

            .price {
                font-size: 32px;
                font-family: 'Oswald', sans-serif;
                margin-bottom: 34px;

                .price__old {
                    color: $text-description-color;
                    text-decoration: line-through;
                    margin: 0 30px 0 0;
                }

                .price__current {
                    color: $primary-color;
                }
            }

            .short-description {
                h5 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 26px;
                }

                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    color: $text-description-color;
                    padding-bottom: 34px;
                }
            }

            .services {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                span {
                    display: block;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    color: $text-description-color;

                    i {
                        color: $primary-color;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }

        .product-description__icon {
            display: flex;
            align-items: center;
            justify-items: flex-start;

            .title {
                margin: 0 18px 0 0;

                h3 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.4rem;
                    color: $text-color;
                }
            }

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 10px 0 0;
                    font-size: 2.4rem;

                    .product__icon {
                        text-decoration: none;

                        &--facebook {
                            color: $facebook-color;
                        }

                        &--twitter {
                            color: $twitter-color;
                        }

                        &--basketball {
                            color: #e04c86;
                        }

                        &--pinterest {
                            color: #bd081c;
                        }
                    }
                }
            }

        }

    }

    .product__info {
        .nav-tabs {
            color: red;

            .nav-link {
                font-size: 1.8rem;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                border-top: none;
                border-left: none;
                border-right: none;
                transition: $transition-time;
                color: $text-color;

                &.active {
                    border-bottom: 6px solid $primary-color;
                }
            }
        }

        .tab-content {
            .product-info {
                padding: 46px 0;

                .product-info__wraps {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: $text-description-color;

                    .product-info__paragraph {

                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.6rem;
                        }
                    }

                    .product-info__main {

                        font-size: 1.6rem;
                        font-family: 'Roboto', sans-serif;

                        .title {
                            margin-top: 36px;
                        }

                        .paragraph {
                            margin-bottom: 36px;
                        }
                    }
                }
            }
        }
    }
}