<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        {{content}}
        {% include footer.html %}
        {% include script.html %}
    </body>
</html>
